.gitignore
node_modules/


# Course assignment PDFs/DOCX and local solution files (do not commit)
Assignments/
Marc Peter Deisenroth_ A. Aldo Faisal_ Cheng Soon Ong - Mathematics for Machine Learning (2021) - libgen.li.pdf